[2013-07-15 12:18] vitorbaptista opened #1 "Sync the streamed and displayed terminals size"
The terminal in the browser is configured with a prefixed size. If the user's terminal size is different, lots of weird things start happening. This breaks vim.

We can get the size from $LINES and $COLUMNS.

We also have to think about what to do when the user resizes the screen.

[2013-07-15 12:29] vitorbaptista opened #2 "Open the shell directly instead of relying on script"
I would like to remove our dependency on script. Our usage is too basic, and I think we can get rid of it without much work.

Basically, what we need to do is open the terminal process and grab its stdin/stdout, while also sending them to the user. We're doing a MITM attack. In Python, I guess it would be possible to use Popen3.

As a reference, check how tty.js did it. They used node, and didn't

[2013-07-15 12:33] vitorbaptista opened #3 "Record and replay sessions"
I would like to, when joining a live session, to get the last lines of input, so I don't start from a blank state, which can be weird if the user was using vim, for example.

It would be good to save the sessions even after they're being transmitted, to serve as a youtube for shells, but let's leave that for the future.

[2013-07-15 12:35] vitorbaptista opened #4 "Use WebSockets"
We currently POST the new data from the user's terminal once a second. That's ugly, and probably won't scale. We could use WebSockets to reuse the same connection. But that means moving out of Heroku, and might give other performance problems.

[2013-07-15 12:37] vitorbaptista opened #5 "Add security to sessions"
Currently, any user can stream to any session, any time. That'll cause problems.

[2013-07-15 12:42] vitorbaptista opened #6 "Make sure it works in Mac"
We might have to use ttyrec to do so. Check shelr for an example.

[2013-07-15 12:45] vitorbaptista opened #7 "Write README"
Ideally, the install process will be in the lines:

    curl get.shellshare.net -O shellshare

We need script (or ttyrec) now, but we should keep it as simple as possible. If we fix #2, this might be all :smiley:

[2013-07-15 12:48] vitorbaptista opened #8 "Create front page"

[2013-07-15 12:50] domoritz opened #9 "Remove dependency on httplib2"
Replace

[code]

with

[code]

Will not be needed if we do #4.

[2013-07-15 20:08] domoritz opened #13 "Terminal on website grabs focus"
It's read only so it shouldn't do that.

[2013-08-10 16:40] vitorbaptista opened #14 "Add indicator that the terminal is being transmitted"
A suggestion I've found in https://news.ycombinator.com/item?id=6191266 was to add a red recording sign. To do so, we could use:

[code]

The problem is: how to pass this through `script`?

[2013-08-10 20:37] #1 closed, assigned to vitorbaptista

[2013-08-10 20:59] vitorbaptista opened #15 "Fix encoding issues"

[2013-08-10 21:11] #15 closed, assigned to vitorbaptista

[2013-08-10 23:24] #6 closed, assigned to domoritz

[2013-08-10 23:26] #5 closed, assigned to nobody

[2013-08-10 23:41] vitorbaptista opened #16 "Add LIVE message to the page, when there's a terminal sending data"
There's no way to see if there's someone transmitting or not. It would be great to have a "LIVE" text somewhere indicating it.

I'm not sure how to do it, though :/

[2015-10-17 14:57] #9 closed

[2015-10-17 14:58] #13 closed

[2015-10-18 15:25] vitorbaptista opened #17 "Use semantic HTML tags"

[2015-10-18 19:34] vitorbaptista opened #18 ""gulp start" runs twice when changing a JS file"
To reproduce, simply run `gulp server` in one screen and try editing a JS file on another. Gulp should restart twice (not sure why).

[2015-10-18 19:38] vitorbaptista opened #19 "HTTP Error 413 when resizing screen"
Sometimes, when resizing the terminal screen when broadcasting, the server returns with a 413 error. The logs show:

[code]

[2015-10-18 19:40] vitorbaptista opened #20 "Create favicon"

[2015-10-18 19:42] vitorbaptista commented on #3
Now, when you join a live session, you'll get the previous packets automatically (solving the "vim issue"). But I think recording and replaying later is too much, specially given http://asciinema.org exists and work great (http://shelr.tv is gone AFAIK)

[2015-10-18 19:42] #3 closed

[2015-10-18 19:44] vitorbaptista commented on #4
Since https://github.com/vitorbaptista/shellshare/commit/bae0f6e73fcf324c2ac88842e7bc7ad6c59f3bf9, the HTTP connections are reused, so the impact of using POSTs is lessened. It seems the performance is good enough for now.

[2015-10-18 19:44] #4 closed

[2015-10-18 19:45] vitorbaptista commented on #8
The front page isn't perfect (it never is), but it's good enough for now.

[2015-10-18 19:45] #8 closed

[2015-10-18 19:46] vitorbaptista commented on #16
I don't think it's possible. At least not while we don't fix https://github.com/vitorbaptista/shellshare/issues/2

[2015-10-19 17:10] vitorbaptista opened #21 "Setup analytics"
I'd like them to be server-side, so we avoid most of the performance hit, and saving just what's important (i.e. pageviews, exceptions, etc.)

https://github.com/peaksandpies/universal-analytics seems nice.

[2015-10-19 18:25] ltartari commented on #20
![favicon](https://cloud.githubusercontent.com/assets/114248/10587004/f4cdac88-767d-11e5-921f-4bcb61a4978d.png)
 @vitorbaptista , how about this to start with?

[2015-10-19 18:25] ltartari commented on #20
Using https://www.shareaholic.com/openshareicon?PHPSESSID=0fd6b34ae9881836b83a622270c485aa as inspiration : )

[2015-10-19 21:50] vitorbaptista commented on #20
@ltartari Didn't know about the OpenShareIcon. Looks interesting, but I it feels too crowded IMO, and although the dollar sign is a nice touch (to represent the shell), I think it's too small to be seen. I was thinking along the lines of a small terminal (more obvious), or maybe a `$_`, to be clearer that it's not about money :smile:

What do you think?

[2015-10-19 22:22] ltartari commented on #20
hahahaha good thinking! let me try that on :stuck_out_tongue:

[2015-10-19 22:26] ltartari commented on #20
How do you feel about making the copy green?

![favicon](https://cloud.githubusercontent.com/assets/114248/10593106/9a0231b2-769f-11e5-97b9-381ed1ff3777.png)

[2015-10-19 22:33] ltartari commented on #20
Would be really cool to add a blinking one for the live url :wink:

[2015-10-19 22:35] ltartari commented on #20
![blink](https://cloud.githubusercontent.com/assets/114248/10593275/edd6cd92-76a0-11e5-9c8f-78677359e58f.gif)

[2015-10-20 10:18] vitorbaptista commented on #20
Looks great! Currently, there's no indication that the terminal is being
broadcast (and no way of knowing it, technically speaking), so I can't
implement the blinking icon. But it's a cool idea, and worthy to create
another issue to fix when possible.

I like the icon, I'm just not sure about the green, considering everything
else on the page uses only shades of grey. Do you think it's OK? If so,

[2015-10-20 10:41] vitorbaptista commented on #20
Correcting myself: add the favicon into `./public` instead

[2015-10-20 13:29] vitorbaptista opened #22 "Retry sending data on error"
Ideally, no errors should occur when broadcasting the terminal. But they happen sometimes. In those cases,  it's better to retry than to break.

[2015-10-20 14:37] ltartari commented on #7
- [ ] How to setup the project environment @vitorbaptista

[2015-10-20 14:43] ltartari commented on #7
- [ ] List project dependencies @vitorbaptista

[2015-10-21 17:15] vitorbaptista opened #24 "Macbooks doesn't have wget by default"
In Mac OS, curl is installed by default (and wget not); in Ubuntu, it's the other way around. Given this, we need different instructions for Mac and Linux.

[2015-10-21 17:51] vitorbaptista commented on #24
@ltartari what do you think of the UI? Too hidden?

![shellshare](https://cloud.githubusercontent.com/assets/76945/10645238/aa18c6c0-7824-11e5-9cb6-c2ad103515ab.png)

[2015-10-21 17:53] #20 closed

[2015-10-21 18:10] ltartari commented on #24
They could be located at the top, since they have a behaviour similar to tabs (controlling the content below it).

Maybe make it pop a bit more… the Mac OS one looks disabled in the pic.

[2015-10-21 18:38] vitorbaptista commented on #24
I tried at the top, but couldn't find a placement I enjoyed. At least not with them with this size.

About the colors: great! The Mac OS is disabled in the screenshot :smile:

These changes are deployed already, if you'd like to take a look.

[2015-10-21 19:20] ltartari opened #25 "[idea] Add copy to clipboard at the end of the easy install instruction"
The idea being to further help the user to grab the easy to install line of code to run on their shell.

https://github.com/zenorocha/clipboard.js

[2015-10-22 10:42] vitorbaptista opened #26 "Improve SEO"

[2015-10-22 10:50] vitorbaptista commented on #24
Closing this for now, but feel free to reopen it

[2015-10-22 10:50] #24 closed

[2015-10-22 10:50] #22 closed

[2015-10-22 10:50] #19 closed

[2015-10-22 11:12] vitorbaptista commented on #16
We can send a message to the clients when receiving a DELETE to the room. It isn't 100% reliable, but should work more often than not.

[2015-10-22 12:35] vitorbaptista commented on #26
@ltartari do you have a high-resolution image of the site's icon to add as its OpenGraph's image? 128x128 should be enough.

[2015-10-22 12:42] ltartari commented on #26
Yes. Currently it is a Sketch file (which is similar to an SVG; I can export to an SVG and leave it inside the project if you want).

It can be resized to any need:
![opengraphicon](https://cloud.githubusercontent.com/assets/114248/10665368/718db81c-78a9-11e5-8a74-7c6b084dcf6b.png)

[2015-10-22 13:50] vitorbaptista opened #28 "Create packages for the main distributions + mac"

[2015-10-22 13:52] vitorbaptista commented on #28
It seems that we could open a RFP (Request For Package) with Debian at https://www.debian.org/devel/wnpp/

[2015-10-22 13:59] cuducos commented on #28
Maybe a simpler way (even if palliative) would be to write a `setup.py` and use `pip` instead. I don't think it should be difficult to use `entry_points={'console_scripts…` to add a command to users _path_. Then the install & use instructions would be as simple as:

[code]

I might have time to give it a try in the weekend… but cannot promise.

[2015-10-22 14:52] amercader opened #29 "Add space before the semi colon to install snippet"
If you copy the current linux install instruction:
[code]

... and paste it into the terminal you get the semicolon as part of the URL (at least on zsh):

[code]
This will download an empty shellshare file and nothing will happen.

If you add a space then it works fine:

[code]

[2015-10-22 14:53] muggahtee commented on #28
I think using `pip` would be a lot easier to manage than packages for every distro

[2015-10-22 15:24] vitorbaptista commented on #29
Thanks for the report, @amercader. I changed the `;` for `&&`, which fixes this and is better overall (as python is only executed if the downloading is successful).

:beers:

[2015-10-22 15:24] #29 closed

[2015-10-22 16:19] vitorbaptista commented on #28
Although I enjoy `pip` and think it would be trivial to add it, I think building regular packages aren't much harder. This project is trivial, just needing to set a single file as executable, and depend on Python 2.7 and script (on the util-linux package in Ubuntu).

We basically need two packages: one for Debian and other for Homebrew. The .deb packages can be converted quite easily in any other,

[2015-10-22 16:52] clodbrasilino opened #30 "Broken pipe when trying to connect to a already full of output terminal"
I just realized that, when trying to connect to a terminal that had already a quite big output before connecting, the web client simply does not show the whole output from the terminal and I receive a 'broken pipe' unhandled exception at the shell.

There's a lot of output between the two terminal screenshots. That's about 50KB+ data.

<img width="1440" alt="shellshare terminal 1" src="https://clo

[2015-10-22 16:56] vitorbaptista opened #31 "Create package for homebrew"
Related to #28

Writing a homebrew package seems quite easy as well (check https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md), and the packages are managed through GitHub. I don't have a Mac to write it, though. If you have some time, this would be a great contribution.

[2015-10-22 18:34] vitorbaptista opened #32 "Setup HTTPS"
Although we don't store logs, there might be some sensitive information being transmitted to shellshare and its clients, so it's useful to have it encrypted. We might use a free certificate from https://www.startssl.com.

[2015-10-22 20:46] amercader commented on #29
Cheers mate

[2015-11-01 12:47] Haroenv commented on #31
It seems like you can set it up on a non-mac too, but I didn't quite understand the documentation while skimming through it, might make time for it later though.

[2015-11-06 16:52] vitorbaptista commented on #31
Sounds interesting, @Haroenv. Didn't know that Homebrew worked on Linux as well. If you find some time to work on it, please go ahead :smile:

[2015-11-11 17:01] vitorbaptista opened #33 "--password option help text is ambiguous"
It says `room's password`, but it can mean either the password for the listeners of the room (e.x.: people looking into `http://shellshare.net/ROOM-NAME` or the password for the broadcaster. We should clarify it.

[2015-11-11 17:08] #33 closed

[2016-03-29 12:13] bigginhill opened #34 "Password protected access"
Hi there,

I've set a custom room address & password, hoping that this would password protect the page.

However I am able to access the page from other machines without entering a password? Is this the intended functionality? Password protection would be fantastic.

Either way, this is a fantastic tool.
Biggin

[2016-05-24 16:46] vitorbaptista commented on #34
@bigginhill Sorry for the delay in answering. Yes, this is the intended functionality: the passwords are just to avoid someone else from publishing to the same room. However, as there's no list of rooms anywhere (by design), the only way for someone to get into your room is by you (or someone else) telling her the URL.

I'd think this should be enough for most cases. If not, please reopen this iss

[2016-05-24 16:46] #34 closed

[2016-05-24 16:48] vitorbaptista commented on #30
I'd guess this is solved by https://github.com/vitorbaptista/shellshare/pull/35. If not, please reopen.

[2016-05-24 16:48] #30 closed

[2016-07-15 09:47] vitorbaptista commented on #32
We're using SSL for everything now (thanks LetsEncrypt!) except for the http://get.shellshare.net. That's because it just redirects to https://shellshare.net/bin/shellshare (using namecheap).

To add the certificate to get.shellshare.net as well we would have to either host it in our own nginx instance or use something like Cloudfare. Considering that the actual shellshare download happens over HT

[2016-07-15 09:47] #32 closed

[2016-07-15 09:47] #7 closed

[2016-07-24 14:38] rgoliveira opened #36 "Getting "You're not authorized to share on <url>" after my terminal crashed"
I was streaming my Vim session and suddenly strange things started to appear on the screen, and among these, some message saying my connection was lost (or something similar, I didn't save it, sorry :cry:).

And now, if I try to use the same room again, it errors with:
[code]

Edit: just remembered that it crashed when I was trying out some different color schemes on Vim. Maybe something related t

[2016-07-24 22:39] rgoliveira commented on #36
So it happened again. Now I was able to get the error message. Something like:
[code]

Here's the screen capture of my vim at the moment it happened:
![erro shellshare](https://cloud.githubusercontent.com/assets/1731173/17086939/0d01f632-51d5-11e6-9211-8a5ca165498a.png)

[2016-09-02 17:26] vitorbaptista commented on #36
@rgoliveira Sorry for the super late reply. Do you know if you had the latest `shellshare`? Those errors were quite common, but this PR solved them for me https://github.com/vitorbaptista/shellshare/pull/35. After that, `shellshare` has been very stable

[2016-09-02 17:28] #26 closed

[2016-09-02 17:29] #25 closed

[2016-09-02 18:03] vitorbaptista opened #38 "Save custom rooms' keys so the user can re-broadcast to it without setting a custom password"
By default, unless you specify a password, shellshare generates a random one every time it starts broadcasting. This is fine for random room names, but can be confusing for custom rooms (see #36). I want to be able do to:

[code]

To do so, we must either save this random password, or use a unique identifier for the user's machine. I would prefer to avoid dealing with saving/loading files, so some

[2016-09-02 18:04] vitorbaptista commented on #36
Ah! Generally, if you want to share on a custom URL, you'd also want to create a password for it:

This is a common surprise which I want to fix. Just created https://github.com/vitorbaptista/shellshare/issues/38 to track it. If you want to give it a go, pull requests are super welcome :wink:

[2016-09-02 18:10] vitorbaptista commented on #38
`uuid.getnode()` seems like a great candidate for a password.

[2016-09-02 18:23] rgoliveira commented on #36
Hey, @vitorbaptista! No worries. Yeah, at one point I figured I should probably be using a password, but haven't had the time to test it again.

[2016-09-02 18:24] rgoliveira commented on #36
I don't have much free time right now, but I'll keep an eye on this. Thanks for the reply!

[2016-09-02 18:37] vitorbaptista commented on #36
Great, @rgoliveira. I'm closing this now, then. Feel free to reopen (or create a new one) as needed. Have a good weekend!

[2016-09-02 18:37] #36 closed

[2016-11-16 09:22] vitorbaptista opened #40 "Limit amount of data sent each time"
As commented on https://github.com/vitorbaptista/shellshare/pull/39 by @devanlai:

[2016-12-10 05:54] alerque opened #41 "Main site offline"
Not sure where to send an alert of this, but the main site for this project as linked from this repository appears to be offline.

[2016-12-28 13:20] vitorbaptista commented on #41
Thanks for the report, and sorry for the slow answer. I've been traveling on vacations and just saw it now. Shellshare is back online and it's a reminder that I need to add more monitoring tools.

Happy New Year!

[2016-12-28 13:20] #41 closed

[2017-01-27 05:20] hchaithanya opened #42 "Not working in Ubuntu 16.04"
Shellshare is not working in Ubuntu 16.04. The commands are getting executed and it does not give me any link.

[2017-01-27 09:43] vitorbaptista commented on #42
@hchaithanya I just tested on Ubuntu 16.04 and it worked fine. Did you receive any error messages?

[2017-02-03 12:51] hchaithanya commented on #42
Previously, the command did not return me anything,  and I have resolved it now. Thanks!

[2017-02-03 12:52] #42 closed

[2017-02-03 14:38] vitorbaptista commented on #42
@hchaithanya Glad it's working. Did you do anything to solve it?

[2017-02-09 07:06] arthar360 opened #43 "Getting handshake failure"
I am always getting this error when I try to run

**$ python shellshare**

I get

The shell is not broadcasted.

Versions:
Mac OS X Yosemite 10.10.5
shellshare 1.0.0

[2017-02-09 10:23] vitorbaptista commented on #43
Hi @arthar360, what's your Python version?

[2017-02-09 12:22] arthar360 commented on #43
Hi @vitorbaptista,  it's Python 2.7.10

[2017-02-09 20:28] vitorbaptista commented on #43
@arthar360 Does it still work if you get the newest code? (i.e. `wget -qO shellshare https://get.shellshare.net && python shellshare`)

I can't reproduce it locally with the same Python version as yourself. From what I've read, this error means that Shellshare's servers and your local machine couldn't agree on a cipher to use. I don't have access to a Mac OS X machine, but I've done some checks on

[2017-02-10 03:41] arthar360 commented on #43
I removed the file and again did `wget -qO shellshare https://get.shellshare.net && python shellshare`
But facing same issue. My Linux System (CentOS 7.2) runs it flawlessly.

There seems no verbose debugging mode (usually -vvv type) here. Any method to get the verbose output?

[2017-02-10 11:01] vitorbaptista commented on #43
@arthar360 I found this issue that have a solution that might solve it: https://github.com/kennethreitz/requests/issues/3340

If I check the openssl versions on my machine, I get:
[code]

Could you do the same? It's possibly a case of either upgrading your openssl and/or reinstalling python (to use the newer openssl version)

[2017-02-11 03:50] arthar360 commented on #43
Thanks @vitorbaptista. I was able to solve this.

# The Problem
[code]

The OpenSSL version apple provides is quite old. Even when my system is up to date, It seems Apple isn't providing updates for openssl. One of the errors I started receiving while using brew is **Apple has deprecated use of OpenSSL in favor of its own TLS and crypto libraries**

# The Solution

Upgrading the openssl.

[code]
[

[2017-02-11 04:18] arthar360 commented on #16
Can changing the shell prompt be considered as an option?
Say

<img width="777" alt="screen shot 2017-02-11 at 9 38 47 am" src="https://cloud.githubusercontent.com/assets/7428184/22851104/12ca8f2c-f03e-11e6-83e3-2e315c08ff56.png">

Becomes

<img width="922" alt="screen shot 2017-02-11 at 9 39 46 am" src="https://cloud.githubusercontent.com/assets/7428184/22851105/17f76646-f03e-11e6-9b67-1fa6cd8720

[2017-02-14 15:56] vitorbaptista commented on #43
Thanks @arthar360! I'm happy you're able to fix it.

[2017-02-14 15:56] #43 closed

[2017-02-14 16:03] vitorbaptista commented on #16
@arthar360 This issue is related to adding a `live` message on the receiving end (i.e. the actual https://shellshare.net page). I didn't want to change the actual shell's `PS1` to avoid messing with others' terminals.

[2017-02-18 15:24] #38 closed

[2017-02-23 19:13] vitorbaptista opened #44 "Investigate on using a serverless architecture"
We might be able to run the static pages over S3 (or maybe GitHub pages) and the communications via AWS IoT + AWS Lambda. http://stesie.github.io/2016/04/aws-iot-pubsub might be helpful.

[2017-02-26 06:31] arthar360 commented on #31
I have a mac, and I am trying to figure out how to add this to homebrew. I will need your help to make it work as I am not understanding few things in the brew documentation.

[2017-02-27 13:06] vitorbaptista commented on #31
@arthar360 Sure, happy to help as I can. What issues are you facing?

[2017-02-28 17:23] arthar360 commented on #31
@vitorbaptista Homebrew Furmula is setup but PR was rejected. Have a look at https://github.com/Homebrew/homebrew-core/pull/10438

[2017-03-04 10:46] arthar360 commented on #31
@vitorbaptista We are live on homebrew! :) https://github.com/Homebrew/homebrew-core/pull/10518
Time for `brew install shellshare`

[2017-03-04 10:47] arthar360 commented on #31
<img width="1099" alt="screen shot 2017-03-04 at 4 16 36 pm" src="https://cloud.githubusercontent.com/assets/7428184/23578132/03904132-00f6-11e7-8c6c-41aa15c68093.png">

[2017-03-09 09:32] vitorbaptista commented on #31
Yay!!! Thanks a lot for your contribution, @arthar360. I'll update our readme to add the option of installing through `brew`.

[2017-03-09 09:32] #31 closed

[2017-03-09 09:35] vitorbaptista commented on #28
Thanks to @arthar360, we now have a package for Homebrew (#31). We only need to generate a .deb now, which can be converted to other distribution's package managers.

[2017-04-01 10:39] sbrl opened #46 "Suggestion: Make terminal broadcasts fullscreen"
It would make it a lot easier to see if it was full screen. Also, the scrolling is way too sensitive.

[2017-04-24 13:52] vitorbaptista commented on #46
@sbrl Interesting idea. Looks like it would be easy to implement with the [Fullscreen API](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API). Would you like to give it a try?

[2017-04-24 16:36] sbrl commented on #46
I'd like to, but I don't have a ton of time atm, and I've no idea how you've set this thing up :-(

[2017-05-03 15:39] vitorbaptista commented on #46
@sbrl No worries. If you have the time before I or anyone else reading this does, installing and running shellshare locally is very easy (see https://github.com/vitorbaptista/shellshare/tree/8b8cff117ea790ce8f2bd4eee8032c2a23078acd#installing). Thanks for the idea :v:

[2017-05-12 20:07] edmundlaugasson opened #47 "no module named httplib (cannot run shellshare)"
Running 64-bit UbuntuServer 16.04.2 LTS and [python 3.5.1](http://packages.ubuntu.com/search?keywords=python3&searchon=names&suite=xenial&section=all)

trying to run the shellshare:
`python3 shellshare`
or
`python3 shellshare --room MY-ROOM --password MY-PASS`

... and getting the following error message:
[code]

Using python3 and tried to install:
`sudo apt update && sudo apt install python3-http

[2017-05-12 21:12] edmundlaugasson opened #48 "feature request: show text highlighting also online"
When marking text by holding down mouse left key and dragging over text by highlighting it - would be possible to show it also in broadcast? It would be extremely useful when teaching and would like to highlight the exact part of text what is under discussion.

[2017-05-15 14:05] vitorbaptista commented on #48
@edmundlaugasson Unfortunately, I don't think that's possible. However, you can highlight using tmux, or an editor like vim/emacs, and shellshare will pick it up just fine. The problem is highlighting with the mouse.

[2017-05-15 14:05] #48 closed

[2017-05-15 19:06] vitorbaptista commented on #47
@edmundlaugasson Thanks for the report! There were a few other issues regarding py3 support, fixed on https://github.com/vitorbaptista/shellshare/commit/5f2cde01b1a51facbebf3caf53aeec11d11189b4. I already deployed version 1.0.2 that fixes this. Please download the new version and let me know if this solves your issues.

Feel free to reopen this issue (or open a new one) if you face some problem.

[2017-05-15 19:06] #47 closed

[2017-05-16 02:38] amosbird opened #49 "Terminal size is too big."
I'm getting this error
[code]
when running `shellshare`. And the web terminal looks weird. How can I make it adjust to current size with scroll bars?

It looks like this ![](https://paste.wentropy.com/5oHF.png)

[2017-05-16 11:11] vitorbaptista commented on #49
@amosbird You need to resize your terminal's screen. It should automatically update the UI on shellshare.net. Feel free to reopen this issue if that doesn't solve your problem.

[2017-05-16 11:11] #49 closed

[2017-05-16 11:13] amosbird commented on #49
Well I cannot resize my terminal, it's my main working ground which I need it to be wide.

[2017-05-17 13:20] vitorbaptista opened #50 "Display horizontal scroll bars instead of breaking the lines"
As per @amosbird report on #49, if your terminal is too wide, shellshare breaks its lines and it looks like this:

![terminal too wide to fit shellshare](https://cloud.githubusercontent.com/assets/76945/26155650/d4555a2e-3b0b-11e7-8664-60086a689147.png)

Instead of breaking the lines, we should allow the user to scroll horizontally.

[2017-05-17 13:25] vitorbaptista commented on #49
@amosbird Unfortunately, that's currently the only solution. I created issue #50 to display a horizontal scrollbar instead of breaking the lines. If you have time, I'd appreciate some help. Otherwise, subscribe to that issue to be notified whenever it's fixed :+1:

[2017-05-17 13:34] amosbird commented on #50
Thanks! I wish I could help but I know nothing about web development. I can help with testing though.

[2017-05-17 13:38] vitorbaptista commented on #50
@amosbird No worries! Thanks for the issue report :v:

[2017-05-17 14:07] amosbird commented on #50
Um, I just tried `overflow: scroll` and `overflow: auto`. Neither worked.

[2017-06-04 14:53] amosbird opened #51 "ssl.SSLEOFError: EOF occurred in violation of protocol when setting up a new server"
I followed the `README.md` exactly and after executing `./public/bin/shellshare --server localhost:3000` I got
[code]

It's a centos 7.2 server.
[amos@VM_31_14_centos shellshare]$

[2017-06-05 17:07] vitorbaptista commented on #51
Thanks for the report. The issue is that we're always using HTTPS, which breaks HTTP servers. We'll have to change the `shellshare` binary to support both HTTP and HTTPS. Meanwhile, if you want to try locally, you can change the line at https://github.com/vitorbaptista/shellshare/blob/5394707a007ae8359a7cc9747dbc33276a4757f5/public/bin/shellshare#L78 from `conn = httplib.HTTPSConnection(url)` to `

[2017-06-07 02:20] #51 closed

[2017-06-07 02:33] vitorbaptista commented on #51
@amosbird I just fixed the bug and released a new version. Please, reopen this issue if it doesn't fix your problem. Thanks for the report!

[2017-06-07 03:09] amosbird commented on #51
thanks! it works as expected now.

[2017-11-15 07:52] khanchi97 opened #52 "No output when running command `wget -qO shellshare https://get.shellshare.net && python shellshare`"
I am not getting any output when running given command on my machine Gnome Ubuntu 16.04.

[2017-11-15 08:42] vitorbaptista commented on #52
Could you try  `wget -O shellshare https://get.shellshare.net && python shellshare` and share the output? I ran it locally and everything seems fine. Maybe you got unlucky and tried it when the servers were down for a moment?

[2017-11-15 18:04] khanchi97 commented on #52
Ok, here is the output:
➜  ~   wget -O shellshare https://get.shellshare.net && python shellshare
--2017-11-15 23:33:06--  https://get.shellshare.net/
Resolving get.shellshare.net (get.shellshare.net)... 104.28.3.224, 104.28.2.224, 2400:cb00:2048:1::681c:3e0, ...
Connecting to get.shellshare.net (get.shellshare.net)|104.28.3.224|:443... connected.
HTTP request sent, awaiting response... 403 Forbid

[2017-12-06 21:24] devnoname120 opened #53 "shellshare.net is down"
![image](https://user-images.githubusercontent.com/2824100/33686150-39815192-dad4-11e7-8327-e8262a7ad275.png)

[2017-12-11 14:41] vitorbaptista commented on #53
Thanks for the report, I'm working on it. Everything should be back up by this week. Sorry for the inconvenience this might have caused.

[2017-12-12 19:52] devnoname120 commented on #53
Thanks a lot!

[2017-12-18 14:28] vitorbaptista commented on #53
@devnoname120 We're back online. I also added a uptime monitor, as I should have done a long time ago, so I can react quicker if/when shellshare goes down again.

[2017-12-18 14:28] #53 closed

[2018-01-18 17:32] elbaro opened #54 "Not working"
Both the python script and master version is not working.

[code]

[code]

[2018-02-11 20:43] edmundlaugasson opened #55 "running shellshare in MS Windows"
Tried to run in MS Windows 10 build 1703 using Python 3.6.4 (v3.6.4:d48eceb, Dec 19 2017, 06:04:45) [MSC v.1900 32 bit (Intel)] on win32 and got following errors:
`python.exe .\shellshare.py --server address.ee:3000 --room roomname --password password`
output:
`'tput' is not recognized as an internal or external command,
operable program or batch file.
'tput' is not recognized as an internal or ex

[2018-02-12 17:21] edmundlaugasson commented on #55
Commented out lines 163-167
`size = terminal_size()`
`if (size['rows'] > 30 or size['cols'] > 160):`
`    print('Current terminal size is %dx%d.' % (size['rows'], size['cols']))`
`   print('It\'s too big to be viewed on smaller screens.')`
`    print('You can resize it anytime.')`

and then error messages:
`Unhandled exception in thread started by <function stream_file at 0x02CB92B8>
Traceback (mo

[2018-02-18 20:01] vitorbaptista commented on #54
@elbaro Thanks for your report, and I'm sorry for the delay in replying. Shellshare is back up and running now. The problem was that the server had run out of memory. I added some monitoring to ensure this won't happen again.

[2018-02-18 20:01] #54 closed

[2018-02-18 20:15] vitorbaptista commented on #55
@edmundlaugasson Sorry for taking long to answer. I haven't tested shellshare on Windows, as I don't have access to a Windows machine. Although it should work with Cygwin or a Bash-like terminal, I'm not sure about Powershell.

The issues you're having seem to be:
* The `tput` executable is used to determine the size of the current terminal. There is some code on https://gist.github.com/jtriley/11

[2018-02-18 20:16] vitorbaptista commented on #52
@khanchi97 Sorry for the super late reply. Are you still having issues? Shellshare was offline for a while, but it should be now back up and running fine.

[2018-02-18 22:15] edmundlaugasson commented on #55
Thanks for feedback! To be honest, I am not a programmer. Currently it would be too challenging for me to achieve programming skills on the level that would allow me to fix the mentioned issue(s).
To be honest - I have MS Windows installed only in Virtual Machine and anyone can freely and legally download MS Windows ISO from https://www.microsoft.com/en-us/software-download/windows10ISO - going th

[2018-03-03 12:05] vitorbaptista commented on #55
This seems to be quite complex, based on this issue https://github.com/asciinema/asciinema/issues/150. You're probably already able to run it using Cygwin or the Ubuntu subsystem in Windows, but I'm unable to test it further.

I'm closing this issue now as a wontfix, but feel free to reopen (or open another issue) if you face some problems. If anyone reading this would like to give it a go in supp

[2018-03-03 12:05] #55 closed

[2018-03-03 14:54] edmundlaugasson commented on #55
Looks like #2 promises to bring that ability to free from script and make possible to run under any OS that supports Python.

[2018-03-03 14:56] edmundlaugasson commented on #2
Looks like #55 needs that feature very much. Not only in MS Windows but any OS that supports Python.

[2018-03-03 14:58] edmundlaugasson commented on #52
To be honest that happens quite often that shellshare.net is offline. Looks like #44 would give the ability to run without server.

[2018-03-03 14:59] edmundlaugasson commented on #44
Looks like #52 needs that feature very much.

[2018-10-12 11:57] vitorbaptista commented on #55
Thanks for your report, @hoytpr. I think I solved the issue you had on the Conda prompt, but I don't have access to a Windows machine so I can't test it. Could you try it out?

Simply do:
[code]

I'm hoping you won't see the error with `tput` anymore, and everything will work as expected. Possibly it will work on gitbash as well.

[2018-10-12 14:41] hoytpr commented on #55
New error. I ran the conda prompt as administrator but the new error (using base conda or the condaFQC environment I had set up) is:
``
(condaFQC) C:\Users\Hoyt>python shellshare
Sharing terminal in https://shellshare.net/r/ig0jogyEKN9zCBKgl8
'script' is not recognized as an internal or external command,
operable program or batch file.
Unhandled exception in thread started by <function stream_file

[2018-10-12 14:55] hoytpr commented on #55
Update, after updating my condaFQC environment to python 3.6 the error changed slightly:

[code]

[2018-10-12 15:10] vitorbaptista commented on #55
@hoytpr Thanks for testing the script. Unfortunately, the exceptions you're getting happen because you don't have the software GNU Script. As far as I know, it's only available on Windows when using Cygwin. Maybe when using the Windows Subsystem for Linux (WSL) as well, but I'm not sure. So this won't work.

Please thank your colleage for me. I didn't know about `mintty.exe`, and it seems it could

[2018-11-27 15:45] seanaller opened #57 "shellshare.net is down"
Unable to connect to shellshare.net (error below).

![image](https://user-images.githubusercontent.com/38939142/49093161-72fe1500-f25b-11e8-905e-957520371966.png)

[2018-11-28 11:44] vitorbaptista commented on #57
Hey @seanaller, thanks for the report! Things are back to normal now.

[2018-11-28 11:44] #57 closed

[2018-12-05 16:55] phls commented on #28
Hi. I was looking to package shellshare, but it depends too much nodejs modules not packaged in Debian yet.

I had to gave up for now.

[2018-12-06 09:59] arthar360 commented on #28
@phls executing the `public/bin/shellshare` file should do the magic.

[2018-12-06 11:21] phls commented on #28
@arthar360 is public/bin/shellshare is the client?

[2018-12-06 11:35] arthar360 commented on #28
![image](https://user-images.githubusercontent.com/7428184/49581580-aa9f4800-f952-11e8-967f-9ae9be915a26.png)

Yes, Thats the client @phls . Does the file fail to execute?

[2018-12-06 11:38] phls commented on #28
@arthar360 no, its ok to me.

[2018-12-07 14:23] vitorbaptista commented on #28
Hey @phls, it's been a long time. Nice to see you here!

So, the shellshare client doesn't depend on NodeJS at all. Sorry, I think the install instructions are kinda confusing, as it's the server's install instructions.

As @arthar360 was saying, the package just need to add https://github.com/vitorbaptista/shellshare/blob/master/public/bin/shellshare to the executable path, which only depends on

[2018-12-10 18:51] phls commented on #28
@vitorbaptista hi!

In this case, to have a package with just shellshare, it's better if you create another repository like "shellshare-client" with README, LICENSE, public/bin/shellshare and all files you need to the client.

[2018-12-10 21:15] vitorbaptista commented on #28
Why? It isn't possible to use it as is?

I'd like to avoid any unnecessary complications, the client and server are
pretty much tied together, changing one usually imply changing the other,
and the server needs to serve the client (so I would need submodules or
similar if they were in a separate repository). Too much work just for a
single file.

[2018-12-12 14:15] vitorbaptista commented on #28
Tem algum problema em incluir tudo no pacote, mesmo que só vá usar o
`public/bin/shellshare`? Sabe se isso vai contra alguma política do Debian,
ou se eles deixariam de incluir o .deb se ele fosse criado assim? O
repositório é minúsculo, então acho que a diferença de tamanho do pacote
vai ser negligível.

[2018-12-12 14:22] phls commented on #28
humm, não faz muito sentido empacotar algo que não será usado.

O pacote não vai construir porque tem dependências não satisfeitas, incluindo aquele diretório onde estão os módulos nodejs.

[2018-12-12 18:43] vitorbaptista commented on #28
Mas você consegue ver algum problema com isso, além de aumentar
denecessariamente o tamanho do pacote? Estou tentando entender se há uma
maneira mais simples, mantendo a estrutura do repositório atual.

[2018-12-12 18:53] phls commented on #28
Não é isso. Se o pacote não constroi, ele não entra no Debian. É como se ele tivesse uma falha e por isso fica impossibilidade de entrar no repositório.

[2019-12-20 17:33] vitorbaptista commented on #52
Closing this now as there haven't been updates in a while. Feel free to reopen if you still face this issue.

[2019-12-20 17:33] #52 closed

[2020-03-17 14:34] katrinleinweber opened #59 "Add topic: terminal-share"
Thanks for publishing this! How about adding it to [GitHub.com/topics/terminal-share](https://github.com/topics/terminal-share) alongside similar tools by [adding that topic](https://help.github.com/articles/about-topics/) to this repo? Thank you :-)

[2020-03-19 12:17] vitorbaptista commented on #59
Good point! Added. Thanks for the recommendation.

[2020-03-19 12:17] #59 closed

[2020-03-19 12:57] katrinleinweber commented on #59
Merci :-)

[2020-04-16 13:40] vitorbaptista opened #62 "Add "Is shellshare streaming my passwords?" to FAQ"
As per https://blogs.ucl.ac.uk/research-software-development/our-first-ever-git-workshop-online/, people might think that anything they type is streamed to shellshare, including passwords. This isn't the case: we only stream what visible on the screen/ Add this message to the FAQ.

[2020-09-28 13:51] gityunus opened #65 "Installing dependencies failing"
Hi,

I am getting the following Traceback error on Windows, when attempting to download and install dependencies via Git Bash. Any help please?

Traceback (most recent call last):
  File "shellshare", line 185, in <module>
    url_req.urlretrieve(script_url, script_path)
  File "C:\Python38\lib\urllib\request.py", line 247, in urlretrieve
    with contextlib.closing(urlopen(url, data)) as fp:
  Fi

[2020-09-28 18:05] dpshelio commented on #65
I've found this is due to the server not accepting a query without a user agent (and had already been proposed a fix on #64). This can be fixed on the server-side, or in the shellshare script when calling the server. I've opened PR #66 that fixes for python3 only.
You could try to test it using my changes by:
[code]

[2020-09-28 18:45] gityunus commented on #65
Great, this worked!

[2021-01-14 18:33] larsks opened #67 "shellshare doesn't share anything and won't exit"
I'm trying to run shellshare on Fedora 33 (python 3.9.1). It runs without errors, prints a URL, and starts a new shell session, but when opened in the browser there is nothing but a blank screen with a blinking cursor in the upper left. Activity in the local shell never shows up in the browser.

When I attempt to `exit` the shellshare-spawned shell, it hangs. Hitting CTRL-C produces the following

[2021-02-27 16:39] edmundlaugasson commented on #55
Looks like now v1.1.0 has Windows support? How to properly install under Windows?

[2021-02-27 17:07] edmundlaugasson opened #68 "proper installation and use of Shellshare under MS Windows 10"
Looks like now v1.1.0 has Windows support? How to properly install and use under Windows? Noticed, that %appdata%\Local\Microsoft\WindowsApps is in path, perhaps download [shellshare](https://raw.githubusercontent.com/vitorbaptista/shellshare/master/public/bin/shellshare) and [script.exe](https://github.com/vitorbaptista/shellshare/raw/master/public/bin/script.exe C:\Users\student\AppData\Local\Mi

[2021-03-02 16:28] edmundlaugasson commented on #68
nice way to solve issues - just close them...

[2021-03-02 16:33] edmundlaugasson commented on #68
Just for others:
- python must be installed
- created environment variable for user
  - super+R -> rundll32 sysdm.cpl,EditEnvironmentVariables
  - e.g. variable with name shellshare
  - value for variable:
    -  "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\python.exe" H:\scripts\shellshare
  - later you can run it from CLI ([cmd](https://en.wikipedia.org/wiki/Cmd.exe)) like

[2021-03-02 16:39] edmundlaugasson commented on #68
Still I face with issues:
[code]
Tried to resize [cmd](https://en.wikipedia.org/wiki/Cmd.exe) - didn't help..

[2021-03-03 03:08] mikerenfro commented on #68
I'd tested this originally with Git Bash in Windows, which includes its own `tput` and related executables. I also used Anaconda Python, which wouldn't require administrative rights, but any installed Python available in the PATH should work just as well.

[2021-03-03 11:09] edmundlaugasson commented on #68
The question is related with MS Windows command line and not Bash in Windows. When we try to use built-in CLI in MS Windows, then shellshare won't work with previously mentioned error messages. But the claim in #61 was, that shellshare will work without Cygwin emulation now, but actually it does not. We can also use WSL, which enables Bash in MS Windows, but then it's not actually MS Windows anymo

[2021-03-03 21:44] mikerenfro commented on #68
Shellshare isn't my project by any means, I'm just someone who wanted to use it under Windows in some Software Carpentry workshops, which already use Git Bash. Shellshare definitely needs some utilities standard for Unix environments like `tput`, and until those are replaced, it won't be a 100% fit for standard Windows. The Python parts of Shellshare are _incredibly_ lean, and it relies heavily on

[2021-03-12 18:47] MatrixManAtYrService opened #69 "Feature Request: color themes"
First of all thanks for this project.  I think it's awesome.

I think my terminal is pretty, but when I share it, the colors don't translate--so it can be awkward for the recipient.  I like how asciinema handles this--with an http parameter (https://asciinema.org/docs/embedding).  It would be like:

https://shellshare.net/r/Zwhd1LIzaj1KLrAZR3?theme=solarized-dark

Thanks for considering it!